__pycache__/
*.pyc
*.log
venv-insight/
processed_index.json
.env
scanned/
.DS_Store
*.psd
assets/test_images/
results.db
results/
temp_batch/
static/uploads/
setupinstructions.md
setupinstructions
requirements.txt.hold
assets/instruct.txt
foo.py
build/
*.egg-info/
.venv/