watch_dir: "/mnt/wildlife"  # Directory to watch for new images
model_name: "qwen2.5vl:7b"
poll_interval: 15
stabilization_interval: 3
ollama_url_base: "http://crow.lan:11434"
keywordPrompt: "What keywords would best describe this image? Provide only a comma separated list and do not say here is the list or anything else."
output_dir: "/mnt/wildlife_processed"
output_mode: move  # or "move"
keywords: true
prompt: "Describe people, animals or vehicles in this image. Do not offer to do anything else."
watch: true
mqtt_topic: "insightpipe/detections"  # Base topic for MQTT publishing (can be overridden.
default_model: "qwen2.5vl:3b"
allowed_image_types:
  - orf
  - cr2
  - nef
  - arw
  - dng
  - raf
  - sr2
prompt_source: "assets/detections.txt"  # Path to the prompts file
