_black_version
_pytest
black
blackd
blib2to3
certifi
charset_normalizer
click
distutils
dotenv
idna
iniconfig
mypy_extensions
packaging
paho
pathspec
pip
pkg_resources
platformdirs
pluggy
py
pygments
pytest
requests
tomli
typing_extensions
urllib3
wheel
yaml
